<!-- navbar with reddit logo -->
<nav class="navbar navbar-dark bg-dark mb-3">
   <div class="container">
      <a href="/"><span class="navbar-brand">
            <img src="/reddit-logo.png" width="30" height="30" class="d-inline-block align-top" alt="reddit-logo">
            Reddit Feed
         </span>
      </a>
   </div>
</nav>